### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [87]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# To store the Purchase_data file into a Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)

## Player Count

## Display the total number of players

In [88]:
# To calculate the the number of (unique) players, based on the len calculation on column "SN"
number_of_players = len(purchase_data["SN"].value_counts())
number_of_players

# To display in a Dataframe the "Total Number of (unique) Players in the purchase_data.csv" file
purchase_data_df1 = pd.DataFrame({"Total Number of Players":[number_of_players]})
purchase_data_df1

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
#Calculations for: Number_of_Unique_items, Average_Purchase_Price, Number_of_Purchases, and Total_of_Revenue   
Number_of_Unique_items_item_name = len((purchase_data["Item Name"]).unique())
Average_Purchase_Price = (purchase_data["Price"]).mean()
Number_of_Purchases = (purchase_data["Purchase ID"]).count()
Total_of_Revenue = (purchase_data["Price"]).sum()

# To display the Number of Unique Items, Average Price, Number_of_Purchases, and Total Revenue calculations into a Dataframe
Display_summary_data_frame = pd.DataFrame({"Number of Unique Items":[Number_of_Unique_items_item_name],"Average Price":[Average_Purchase_Price],"Number_of_Purchases":[Number_of_Purchases], "Total Revenue": [Total_of_Revenue]})
Display_summary_data_frame.style.format({"Total Revenue":"${:,.2f}", "Average Price":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [90]:
# copy of the purchase data file
GenDemo_df = purchase_data.copy()

# To drop duplicate "SN's" (user names) in file data
# Note: Parameters "subset" considers column "SN" for identifying duplicates, "keep first" means keep the first duplicate and drop the others
GenDemo_df1 = GenDemo_df.drop_duplicates(subset='SN', keep='first', inplace=False)

In [91]:
# To calculate count summary by Gender
GenDemo_totals = GenDemo_df1["Gender"].value_counts()

# Calculates the Percentage of Players by Gender:
#   pandas.Series.value_counts, Return a Series containing counts of unique values.
#   With normalize set to True, returns the relative frequency by dividing all values by the sum of values.
GenDemo_percents = round(GenDemo_df1["Gender"].value_counts(normalize=True) * 100, 2)

# To set up a DataFrame wih total (unique) counts by Gender and Percentage of Players by Gender  
GenDemo_Finished = pd.DataFrame([])
GenDemo_Finished["Total Count"] = GenDemo_totals
GenDemo_Finished["Percentage of Players"] = GenDemo_percents
GenDemoformat = GenDemo_Finished
GenDemoformat.style.format({"Percentage of Players":"{:,.2f}%"})

# To diplay final Gender Demographics Report
GenDemoformat

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
# To obtain the number of total purchases split by Gender  
purch_analyis_df = purchase_data[["Gender", "Price", "SN"]]
gender_count = purch_analyis_df["Gender"].value_counts()

In [93]:
# Summary of purchases (price column) by Gender
purch_analysis_df_group = purchase_data.groupby(["Gender"])
purch_analysis_df_price_sum = purch_analysis_df_group["Price"].sum()
purch_analysis_df_price_sum

# Summary of purchases in Dataframe format by Gender
purch_analysis_df_price_sum_df = pd.DataFrame(purch_analysis_df_price_sum)
purch_analysis_df_price_sum_df = purch_analysis_df_price_sum_df.rename(columns={"Price":"Total Purchase Value"})
purch_analysis_df_price_sum_df["Total Purchase Value"] = purch_analysis_df_price_sum_df["Total Purchase Value"].map("${:.2f}".format)

# To Display the final Total Purchase Value report
purch_analysis_df_price_sum_df

                      Total Purchase Value
Gender
Female                             $361.94
Male                              $1967.64
Other / Non-Disclosed               $50.19

In [94]:
# To add column Purchase Count to the final Analysis report 
purch_analysis_df_price_avg = purch_analysis_df_group.mean()
purch_analysis_df_price_avg["Purchase Count"] = gender_count

# To add column "Average Purchase Price" to the final Analysis report 
purch_analysis_df_price_avg = purch_analysis_df_price_avg.rename(columns={"Price":"Average Purchase Price"})
purch_analysis_df_price_avg["Average Purchase Price"] = purch_analysis_df_price_avg["Average Purchase Price"].map("${:.2f}".format)

# To add column Avg Total Purchase Value to Purchase Analysis report 
purch_analysis_df_price_avg["Total Purchase Value"] = purch_analysis_df_price_sum
purch_analysis_df_price_avg["Total Purchase Value"] = purch_analysis_df_price_avg["Total Purchase Value"].map("${:.2f}".format)

# To add column Avg Total Purchase per Person to Purchase Analysis report 
purch_analysis_df_price_avg["Avg Total Purchase per Person"] = purch_analysis_df_price_sum / GenDemo_totals
purch_analysis_df_price_avg["Avg Total Purchase per Person"] = purch_analysis_df_price_avg["Avg Total Purchase per Person"].map("${:.2f}".format)

# Final Analyis Report - To display only cols "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person" 
columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]
final_pur_analysis_gender = purch_analysis_df_price_avg[columns]
final_pur_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [95]:
ages_group_by = GenDemo_df1.groupby(["Age"])
# ages_group_by_purchases = ages_group_by["Price"].sum()
# ages_group_by_purchases.head()
ages_group_by.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
738,738,Eusur90,36,Male,121,Massacre,1.60
751,751,Lisjaskan36,11,Male,30,Stormcaller,3.36
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70

In [96]:
Bin_Age_Numbers = [0, 9, 14, 19, 24, 29, 34, 39, 99]
Bin_Groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [97]:
age_demographics_df = pd.DataFrame([])
#lists out the BinGroup Category for each SN (from Col Age in purchase datafile)
age_demographics_df["Ages"] = pd.cut(GenDemo_df1["Age"], Bin_Age_Numbers, labels=Bin_Groups)
age_demographics_df.head()

    Ages
0  20-24
1    40+
2  20-24
3  20-24
4  20-24

In [98]:
#lists out the Bin Group and Age (per the purchase data file) for each SN 
age_demographics_df["Total Count"] = GenDemo_df1["Age"]
age_demographics_df.head()

    Ages  Total Count
0  20-24           20
1    40+           40
2  20-24           24
3  20-24           24
4  20-24           23

In [99]:
#lists out the Bin Group and Age (per the purchase data file) for each SN 
age_demographics_df["Ages"].value_counts()
age_demographics_df.head()

    Ages  Total Count
0  20-24           20
1    40+           40
2  20-24           24
3  20-24           24
4  20-24           23

In [100]:
percent_age_demographics = round(age_demographics_df["Ages"].value_counts(normalize=True) * 100, 2)
percent_age_demographics.head(10)

20-24    44.79
15-19    18.58
25-29    13.37
30-34     9.03
35-39     5.38
10-14     3.82
<10       2.95
40+       2.08
Name: Ages, dtype: float64

In [101]:
final_age_demographics_df = pd.DataFrame([])

In [102]:
final_age_demographics_df["Total Count"] = age_demographics_df["Ages"].value_counts()
final_age_demographics_df

       Total Count
20-24          258
15-19          107
25-29           77
30-34           52
35-39           31
10-14           22
<10             17
40+             12

In [103]:
final_age_demographics_df["Percentage of Players"] = percent_age_demographics
final_age_demographics_df.sort_index(inplace=True)
final_age_demographics_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
#purchase count by age
GenDemo_by_age_group_df = GenDemo_df.groupby(["Age"])
sum_of_purchases_by_age = GenDemo_by_age_group_df["Price"].sum()
#sum_of_purchases_by_age

In [105]:
#DataFrame by age group category also listing the price (for each row) in the purchase_data.csv data file
purchases_by_age = pd.DataFrame([])
purchases_by_age["Ages"] = pd.cut(purchase_data["Age"], Bin_Age_Numbers, labels=Bin_Groups)
purchases_by_age["Purchase_Price"] = purchase_data["Price"] 
#purchases_by_age

In [106]:
#Total Puchase Value
age_group_age_purch_analysis = purchases_by_age.groupby(["Ages"])
age_group_age_purch_analysis_sum = age_group_age_purch_analysis["Purchase_Price"].sum()
age_group_age_purch_analysis_sum

Ages
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Purchase_Price, dtype: float64

In [107]:
#Average Purchase Prices for each age group
final_DataFrame_for_Purhase_Analysis = pd.DataFrame([])
final_DataFrame_for_Purhase_Analysis["Purchase_Count"] = purchases_by_age["Ages"].value_counts()
final_DataFrame_for_Purhase_Analysis["Average Purchase Price"] = age_group_age_purch_analysis_sum / purchases_by_age["Ages"].value_counts()
final_DataFrame_for_Purhase_Analysis["Average Purchase Price"] = final_DataFrame_for_Purhase_Analysis["Average Purchase Price"].map("${:,.2f}".format)
final_DataFrame_for_Purhase_Analysis

       Purchase_Count Average Purchase Price
20-24             365                  $3.05
15-19             136                  $3.04
25-29             101                  $2.90
30-34              73                  $2.93
35-39              41                  $3.60
10-14              28                  $2.96
<10                23                  $3.35
40+                13                  $2.94

In [108]:
#Total Purchas Values by Age Group
final_DataFrame_for_Purhase_Analysis["Total Purchase Value"] = age_group_age_purch_analysis_sum
final_DataFrame_for_Purhase_Analysis["Total Purchase Value"] = final_DataFrame_for_Purhase_Analysis["Total Purchase Value"].map("${:,.2f}".format)
final_DataFrame_for_Purhase_Analysis

       Purchase_Count Average Purchase Price Total Purchase Value
20-24             365                  $3.05            $1,114.06
15-19             136                  $3.04              $412.89
25-29             101                  $2.90              $293.00
30-34              73                  $2.93              $214.00
35-39              41                  $3.60              $147.67
10-14              28                  $2.96               $82.78
<10                23                  $3.35               $77.13
40+                13                  $2.94               $38.24

In [113]:
#Average Total Purchase per Person
final_DataFrame_for_Purhase_Analysis["Avg Total Purchase per Person"] = age_group_age_purch_analysis_sum / age_demographics_df["Ages"].value_counts()
final_DataFrame_for_Purhase_Analysis["Avg Total Purchase per Person"] = final_DataFrame_for_Purhase_Analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
final_DataFrame_for_Purhase_Analysis.sort_index(inplace=True)
final_DataFrame_for_Purhase_Analysis

,Purchase_Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame