### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# To store the Purchase_data file into a Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)

## Player Count

## Display the total number of players

In [20]:
# To calculate the the number of (unique) players, based on the len calculation on column "SN"
number_of_players = len(purchase_data["SN"].value_counts())
number_of_players

# To display in a Dataframe the "Total Number of (unique) Players in the purchase_data.csv" file
purchase_data_df1 = pd.DataFrame({"Total Number of Players":[number_of_players]})
purchase_data_df1

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#Calculations for: Number_of_Unique_items, Average_Purchase_Price, Number_of_Purchases, and Total_of_Revenue   
Number_of_Unique_items_item_name = len((purchase_data["Item Name"]).unique())
Average_Purchase_Price = (purchase_data["Price"]).mean()
Number_of_Purchases = (purchase_data["Purchase ID"]).count()
Total_of_Revenue = (purchase_data["Price"]).sum()

# To display the Number of Unique Items, Average Price, Number_of_Purchases, and Total Revenue calculations into a Dataframe
Display_summary_data_frame = pd.DataFrame({"Number of Unique Items":[Number_of_Unique_items_item_name],"Average Price":[Average_Purchase_Price],"Number_of_Purchases":[Number_of_Purchases], "Total Revenue": [Total_of_Revenue]})
Display_summary_data_frame.style.format({"Total Revenue":"${:,.2f}", "Average Price":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
# copy of the purchase data file
GenDemo_df = purchase_data.copy()

# To drop duplicate "SN's" (user names) in file data
# Note: Parameters "subset" considers column "SN" for identifying duplicates, "keep first" means keep the first duplicate and drop the others
GenDemo_df1 = GenDemo_df.drop_duplicates(subset='SN', keep='first', inplace=False)

In [23]:
# To calculate count summary by Gender
GenDemo_totals = GenDemo_df1["Gender"].value_counts()

# Calculates the Percentage of Players by Gender:
#   pandas.Series.value_counts, Return a Series containing counts of unique values.
#   With normalize set to True, returns the relative frequency by dividing all values by the sum of values.
GenDemo_percents = round(GenDemo_df1["Gender"].value_counts(normalize=True) * 100, 2)

# To set up a DataFrame wih total (unique) counts by Gender and Percentage of Players by Gender  
GenDemo_Finished = pd.DataFrame([])
GenDemo_Finished["Total Count"] = GenDemo_totals
GenDemo_Finished["Percentage of Players"] = GenDemo_percents
GenDemoformat = GenDemo_Finished
GenDemoformat.style.format({"Percentage of Players":"{:,.2f}%"})

# To diplay final Gender Demographics Report
GenDemoformat

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
# To obtain the number of total purchases split by Gender  
purch_analyis_df = purchase_data[["Gender", "Price", "SN"]]
gender_count = purch_analyis_df["Gender"].value_counts()

In [25]:
# Summary of purchases (price column) by Gender
purch_analysis_df_group = purchase_data.groupby(["Gender"])
purch_analysis_df_price_sum = purch_analysis_df_group["Price"].sum()
purch_analysis_df_price_sum

# Summary of purchases in Dataframe format by Gender
purch_analysis_df_price_sum_df = pd.DataFrame(purch_analysis_df_price_sum)
purch_analysis_df_price_sum_df = purch_analysis_df_price_sum_df.rename(columns={"Price":"Total Purchase Value"})
purch_analysis_df_price_sum_df["Total Purchase Value"] = purch_analysis_df_price_sum_df["Total Purchase Value"].map("${:.2f}".format)

# To Display the final Total Purchase Value report
purch_analysis_df_price_sum_df

                      Total Purchase Value
Gender
Female                             $361.94
Male                              $1967.64
Other / Non-Disclosed               $50.19

In [26]:
# To add column Purchase Count to the final Analysis report 
purch_analysis_df_price_avg = purch_analysis_df_group.mean()
purch_analysis_df_price_avg["Purchase Count"] = gender_count

# To add column "Average Purchase Price" to the final Analysis report 
purch_analysis_df_price_avg = purch_analysis_df_price_avg.rename(columns={"Price":"Average Purchase Price"})
purch_analysis_df_price_avg["Average Purchase Price"] = purch_analysis_df_price_avg["Average Purchase Price"].map("${:.2f}".format)

# To add column Avg Total Purchase Value to Purchase Analysis report 
purch_analysis_df_price_avg["Total Purchase Value"] = purch_analysis_df_price_sum
purch_analysis_df_price_avg["Total Purchase Value"] = purch_analysis_df_price_avg["Total Purchase Value"].map("${:.2f}".format)

# To add column Avg Total Purchase per Person to Purchase Analysis report 
purch_analysis_df_price_avg["Avg Total Purchase per Person"] = purch_analysis_df_price_sum / GenDemo_totals
purch_analysis_df_price_avg["Avg Total Purchase per Person"] = purch_analysis_df_price_avg["Avg Total Purchase per Person"].map("${:.2f}".format)

# Final Analyis Report - To display only cols "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person" 
columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]
final_pur_analysis_gender = purch_analysis_df_price_avg[columns]
final_pur_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame