### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [62]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# To store the Purchase_data file into a Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)

## Player Count

* Display the total number of players

In [63]:
# To calculate the the number of (unique) players, based on the len calculation on column "SN"
number_of_players = len(purchase_data["SN"].value_counts())

# To display in a Dataframe the "Total Number of (unique) Players in the purchase_data.csv" file
purchase_data_df1 = pd.DataFrame({"Total Number of Players":[number_of_players]})
purchase_data_df1

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
#Calculations for: Number_of_Unique_items, Average_Purchase_Price, Number_of_Purchases, and Total_of_Revenue   
Number_of_Unique_items_item_name = len((purchase_data["Item Name"]).unique())
Average_Purchase_Price = (purchase_data["Price"]).mean()
Number_of_Purchases = (purchase_data["Purchase ID"]).count()
Total_of_Revenue = (purchase_data["Price"]).sum()

# To display the Number of Unique Items, Average Price, Number_of_Purchases, and Total Revenue calculations into a Dataframe
Display_summary_data_frame = pd.DataFrame({"Number of Unique Items":[Number_of_Unique_items_item_name],"Average Price":[Average_Purchase_Price],"Number_of_Purchases":[Number_of_Purchases], "Total Revenue": [Total_of_Revenue]})
Display_summary_data_frame.style.format({"Total Revenue":"${:,.2f}", "Average Price":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [65]:
# copy of the purchase data file
GenDemo_df = purchase_data.copy()

# To drop duplicate "SN's" (user names) in file data
# Note: Parameters "subset" considers column "SN" for identifying duplicates, "keep first" means keep the first duplicate and drop the others
GenDemo_df_drop_duplicate_SN = GenDemo_df.drop_duplicates(subset='SN', keep='first')

In [66]:
# To calculate count summary by Gender
GenDemo_totals = GenDemo_df_drop_duplicate_SN["Gender"].value_counts()

# Calculates the Percentage of Players by Gender:
GenDemo_percents = round(GenDemo_df_drop_duplicate_SN["Gender"].value_counts(normalize=True) * 100, 2)

# To set up a DataFrame wih total (unique) counts by Gender and Percentage of Players by Gender  
GenDemo_Finished = pd.DataFrame([])
GenDemo_Finished["Total Count"] = GenDemo_totals
GenDemo_Finished["Percentage of Players"] = GenDemo_percents
GenDemo_Finished["Percentage of Players"] = GenDemo_Finished["Percentage of Players"].map("{:.2f}%".format)
GenDemo_Finished

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
# To calculate the number of total purchases split by Gender  
purch_analyis_df = purchase_data[["Gender", "Price", "SN"]]
gender_count = purch_analyis_df["Gender"].value_counts()

In [91]:
# Summary of purchases (price column) by Gender
purch_analysis_df_group = purchase_data.groupby(["Gender"])
purch_analysis_df_price_sum = purch_analysis_df_group["Price"].sum()

# Summary of purchases in Dataframe format by Gender
purch_analysis_df_price_sum_df = pd.DataFrame(purch_analysis_df_price_sum)
purch_analysis_df_price_sum_df = purch_analysis_df_price_sum_df.rename(columns={"Price":"Total Purchase Value"})
purch_analysis_df_price_sum_df["Total Purchase Value"] = purch_analysis_df_price_sum_df["Total Purchase Value"].map("${:.2f}".format)

In [69]:
# To calculate column for Purchase Count
purch_analysis_df_price_avg = purch_analysis_df_group.mean()
purch_analysis_df_price_avg["Purchase Count"] = gender_count

# To calculate column for "Average Purchase Price" 
purch_analysis_df_price_avg = purch_analysis_df_price_avg.rename(columns={"Price":"Average Purchase Price"})
purch_analysis_df_price_avg["Average Purchase Price"] = purch_analysis_df_price_avg["Average Purchase Price"].map("${:.2f}".format)

# To calculate column Avg Total Purchase Value for the Purchase Analysis report 
purch_analysis_df_price_avg["Total Purchase Value"] = purch_analysis_df_price_sum
purch_analysis_df_price_avg["Total Purchase Value"] = purch_analysis_df_price_avg["Total Purchase Value"].map("${:.2f}".format)

# To add column Avg Total Purchase per Person for the Purchase Analysis report 
purch_analysis_df_price_avg["Avg Total Purchase per Person"] = purch_analysis_df_price_sum / GenDemo_totals
purch_analysis_df_price_avg["Avg Total Purchase per Person"] = purch_analysis_df_price_avg["Avg Total Purchase per Person"].map("${:.2f}".format)

# Final Analyis Report - To display or limit only cols "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person" 
columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]
final_pur_analysis_gender = purch_analysis_df_price_avg[columns]
final_pur_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [70]:
#To set up a separate Bin Category for each the age groups.  
Bin_Age_Numbers = [0, 9, 14, 19, 24, 29, 34, 39, 99]
Bin_Groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [71]:
# New DataFrame for age demographics
age_demographics_df = pd.DataFrame([])

#lists out the BinGroup Category for each SN (from Col Age in purchase datafile, note: duplicate SN's have been dropped in this file)
age_demographics_df["Ages"] = pd.cut(GenDemo_df_drop_duplicate_SN["Age"], Bin_Age_Numbers, labels=Bin_Groups)

In [72]:
#lists out the Bin Group and Age (per the purchase data file) for each SN 
age_demographics_df["Total Count"] = GenDemo_df_drop_duplicate_SN["Age"]

In [93]:
# to generate the percentage values associated with each age category. Also, round each percentage by 2 decimal places
percent_age_demographics = round(age_demographics_df["Ages"].value_counts(normalize=True) * 100, 2)

In [74]:
# to add a new Dataframe for the Age Demographics
final_age_demographics_df = pd.DataFrame([])

# to add column Total Count to the Dataframe report 
final_age_demographics_df["Total Count"] = age_demographics_df["Ages"].value_counts()

# to add the column "Pecentage of Players" to the Data Frame report.  Also, to format the percentage amounts as "%"
final_age_demographics_df["Percentage of Players"] = percent_age_demographics
final_age_demographics_df["Percentage of Players"] = final_age_demographics_df["Percentage of Players"].map("{:.2f}%".format)

# to Sort the final age demographics Dataframe by age category
final_age_demographics_df.sort_index(inplace=True)
final_age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
#purchase count by age
GenDemo_by_age_group_df = GenDemo_df.groupby(["Age"])
sum_of_purchases_by_age = GenDemo_by_age_group_df["Price"].sum()
#sum_of_purchases_by_age

In [76]:
#DataFrame by age group category also listing the price (for each row) in the purchase_data.csv data file
purchases_by_age = pd.DataFrame([])
purchases_by_age["Ages"] = pd.cut(purchase_data["Age"], Bin_Age_Numbers, labels=Bin_Groups)
purchases_by_age["Purchase_Price"] = purchase_data["Price"] 
#purchases_by_age

In [77]:
#Total Puchase Value
age_group_age_purch_analysis = purchases_by_age.groupby(["Ages"])
age_group_age_purch_analysis_sum = age_group_age_purch_analysis["Purchase_Price"].sum()
#age_group_age_purch_analysis_sum

In [78]:
#Average Purchase Prices for each age group
final_DataFrame_for_Purhase_Analysis = pd.DataFrame([])
final_DataFrame_for_Purhase_Analysis["Purchase_Count"] = purchases_by_age["Ages"].value_counts()
final_DataFrame_for_Purhase_Analysis["Average Purchase Price"] = age_group_age_purch_analysis_sum / purchases_by_age["Ages"].value_counts()
final_DataFrame_for_Purhase_Analysis["Average Purchase Price"] = final_DataFrame_for_Purhase_Analysis["Average Purchase Price"].map("${:,.2f}".format)
#final_DataFrame_for_Purhase_Analysis

In [79]:
#Total Purchas Values by Age Group
final_DataFrame_for_Purhase_Analysis["Total Purchase Value"] = age_group_age_purch_analysis_sum
final_DataFrame_for_Purhase_Analysis["Total Purchase Value"] = final_DataFrame_for_Purhase_Analysis["Total Purchase Value"].map("${:,.2f}".format)
#final_DataFrame_for_Purhase_Analysis

In [80]:
#Average Total Purchase per Person
final_DataFrame_for_Purhase_Analysis["Avg Total Purchase per Person"] = age_group_age_purch_analysis_sum / age_demographics_df["Ages"].value_counts()
final_DataFrame_for_Purhase_Analysis["Avg Total Purchase per Person"] = final_DataFrame_for_Purhase_Analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
final_DataFrame_for_Purhase_Analysis.sort_index(inplace=True)
final_DataFrame_for_Purhase_Analysis

,Purchase_Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
# to establish new dataframe for Top Spenders
top_spenders_df = pd.DataFrame([])

# to add columns for both SN and Price into the Dataframe
top_spenders_df["SN"] = purchase_data["SN"]
top_spenders_df["Price"] = purchase_data["Price"]

In [82]:
# to group the dataframe by SN and to summarize by price
top_spenders_df_group = top_spenders_df.groupby(["SN"])
top_spenders_df_group = top_spenders_df_group["Price"].sum()

In [83]:
# to calculate the Purchase count by SN, also to add SN and Purchase Count to the final dataframe
top_spenders_df_final = pd.DataFrame([])
top_spenders_df_final["Purchase Count"] = top_spenders_df["SN"].value_counts()

In [84]:
# to calculate and format Average Purchase Price by SN, also to add Average Purchase Price to the final dataframe
top_spenders_df_final["Average Purchase Price"] = top_spenders_df_group / top_spenders_df["SN"].value_counts()
top_spenders_df_final["Average Purchase Price"] = top_spenders_df_final["Average Purchase Price"].map("${:,.2f}".format)

In [85]:
# to calculate and format Total Purchase Value by SN, also to add Total Purchase Value to the final dataframe
top_spenders_df_final["Total Purchase Value"] = top_spenders_df_group
top_spenders_df_final["Total Purchase Value"] = top_spenders_df_final["Total Purchase Value"].astype(float)
top_spenders_df_final = top_spenders_df_final.sort_values(["Total Purchase Value"],ascending=False)
top_spenders_df_final["Total Purchase Value"] = top_spenders_df_final["Total Purchase Value"].map("${:,.2f}".format)
top_spenders_df_final.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [86]:
# to establish new dataframe for Most Popular Items by Item ID, Item Name and Price
most_popular_items_df = pd.DataFrame([])
most_popular_items_df["Item ID"] = purchase_data["Item ID"]
most_popular_items_df["Item Name"] = purchase_data["Item Name"]
most_popular_items_df["Price"] = purchase_data["Price"]

In [87]:
# to set up dataframe group by Item ID and Item Name
most_popular_items_df_group = most_popular_items_df.groupby(["Item ID","Item Name"])

# to set up new dataframe to include the sum for price used in the "item price calculation"
most_popular_items_df_group_df = ([])
most_popular_items_df_group_df = most_popular_items_df_group.sum()

In [88]:
# to establish columns for Purchase Count, Total Purchase Values and Item Price and format as necessary 
most_popular_items_df_group_df["Purchase Count"] = most_popular_items_df_group.count()
most_popular_items_df_group_df["Total Purchase Value"] = most_popular_items_df_group.sum()
most_popular_items_df_group_df["Total Purchase Value"] = most_popular_items_df_group_df["Total Purchase Value"].map("${:,.2f}".format)
most_popular_items_df_group_df["Item Price"] = most_popular_items_df_group_df["Price"]
most_popular_items_df_group_df["Item Price"] = most_popular_items_df_group_df["Price"] / most_popular_items_df_group_df["Purchase Count"]
most_popular_items_df_group_df["Item Price"] = most_popular_items_df_group_df["Item Price"].map("${:,.2f}".format)

# to remove the "Price" Column from the DataFrame (previously needed for the item price calculation) 
del most_popular_items_df_group_df["Price"]

In [89]:
# to sort Dataframe in decending order by "Purchase Count"
most_popular_items_df_group_df = most_popular_items_df_group_df.sort_values(["Purchase Count"],ascending=False)

# to sort column names - "Item Price" prior to "Total Purchase Value" 
columns = ["Purchase Count", "Item Price", "Total Purchase Value"]

#final report for Most Popular Items
final_most_popular_items_df_group_df = most_popular_items_df_group_df[columns]
final_most_popular_items_df_group_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [90]:
# To copy the above data from "most Popular items" = GroupBy: "Item ID","Item Name", summed by "Total Purchase Value"
most_popular_items_df_group_df["Total Purchase Value"] = most_popular_items_df_group.sum()

#Sort Data by Total Purchase Value
most_popular_items_df_group_df = most_popular_items_df_group_df.sort_values(["Total Purchase Value"],ascending=False)

#To format Total Purchase Value with "$" and two decimal places
most_popular_items_df_group_df["Total Purchase Value"] = most_popular_items_df_group_df["Total Purchase Value"].map("${:,.2f}".format)

#To arrange columns in the following order: "Purchase Count", "Item Price", "Total Purchase Value"   
columns = ["Purchase Count", "Item Price", "Total Purchase Value"]
final_most_popular_items_df_group_df = most_popular_items_df_group_df [columns]
final_most_popular_items_df_group_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80